<!DOCTYPE html>
<html ng-app="cameraApp">

<head>
  <meta charset="utf-8">
  <title>Camera Shop</title>

</head>

<body>

<div ng-controller="cameraController">

  <h1>Welcome to the Camera Store</h1>

  <label for="sort">Sort By:</label>

  <select ng-model="sort" name="sort">
        <option value="price">Price: Low to High</option>
        <option value="-price">Price: High to Low</option>
        <option value="rating">Rating: Low to High</option>
        <option value="-rating">Rating: High to Low</option>
      </select>

  <div ng-repeat="camera in cameras | orderBy: sort">
    <h1>{{camera.title}}</h1> <h2><strong id="sale" ng-if="camera.onSale === true">ON SALE!</strong></h2>
    <img ng-src={{camera.image}}>
    <p>Rating: {{camera.rating}}</p>
    <p>Price: {{camera.price | currency}}</p>
    <button>Add to Cart</button>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="app.js"></script>
</div>
</body>

</html>
